
{% extends "base.html" %}

{% block content %}

    {% for i in comics.items %}
        {% set date_text = format_date(i.original_date) %}
        <div class="comic">
            <h2>{{ date_text }}</h2>
            <div>
                {% if i.published_date == i.original_date %}
                    <img src="{{ url_for('.comic', key=i.series.key, published_date=i.published_date) }}" 
                         alt="{{ i.series.title}} - {{ date_text }}" />
                {% else %}
                    <img src="{{ url_for('.comic', key=i.series.key, published_date=i.published_date, original_date=i.original_date) }}"
                         alt="{{ i.series.title}} - {{ date_text }}" />
                {% endif%}
            </div>
        </div>
    {% endfor %}


{% endblock %}

{% block pager %}
    <li class="pager">
        {% if comics.has_prev %}
            <a href="{{ url_for('.comics', key=key, page_number=comics.prev_num) }}">&laquo; Previous</a>
        {% endif %}
        {% if comics.has_next %}
            <a href="{{ url_for('.comics', key=key, page_number=comics.next_num) }}">Next &raquo;</a>
        {% endif %}
    </li>

{% endblock %}
