
{% extends "base.html" %}

{% block content %}

    <h2> Last 7 Days </h2>
    <ul>
    {% for i in dates[0:7] %}
        <li>
            <a href="{{url_for('.index', published_date=i)}}">
                {{ format_date(i) }}
            </a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}

{% block calendar %}

    <h2> All Days </h2>

    {% for i in months %}

        {{ calendar_formatter(i, date_list=dates, url_method=url_method)|safe }}

    {% endfor %}
    
    <div class="visualClear"><!-- --></div>
{% endblock %}

