
{% extends "base.html" %}

{% block content %}

    {% for i in comics %}
    
        {% if i.series.key in comic_filter %}
            {% set date_text = format_date(i.original_date) %}
            
            <div class="comic">
                <h2>{{i.series.title}}</h2>
                <div>
                    {% if i.published_date == i.original_date %}
                        <img src="{{ url_for('.comic', key=i.series.key, published_date=i.published_date) }}"
                             alt="{{ i.series.title}} - {{ date_text }}" />
                    {% else %}
                        <p class="date"> Originally published <strong>{{ date_text }}</strong></p>
                        <img src="{{ url_for('.comic', key=i.series.key, published_date=i.published_date, original_date=i.original_date) }}"
                             alt="{{ i.series.title}} - {{ date_text }}" />
                    {% endif%}
                </div>
            </div>
        {% endif %}
    {% endfor %}


{% endblock %}


